:root {
  --black: #000000;
  --white: #ffffff;
  --grey: #eeeeee;
  --dark: #666666;
  --bg: #f4f4f4;
  --red: #e73737;
  --accent: green;
  --vh: 100vh;
}

//screen config
$maxWidth: 1920;
$minWidth: 360;

//breakpoints
$uls: 2100px;
$ls: 1366px;
$br1: 1060px;
$br2: 768px;
$br3: 600px;
$br4: 460px;

//easings
$easing: cubic-bezier(0.16, 1, 0.3, 1);

// layouts
$g-offset: vw(50);
$g-sm: 32px;
$g-s: 16px;
