.home-5 {
  height: 1000vh;
  @media (min-width: $br1) {
    padding-top: vw(90);
    padding-bottom: vw(90);
  }

  @media (max-width: $br1) {
    margin-top: 284px;
  }

  @media (max-width: $br4) {
    margin-top: 136px;
  }
}

.home-5__background,
.home-5 canvas {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  overflow: hidden;

  object-fit: cover;
}

.home-5__wrapper {
  display: flex;
  justify-content: center;
  // align-items: center;
  position: relative;
  width: 100%;
  height: 100%;

  @media (max-width: $br1) {
    flex-direction: column;
    align-items: flex-end;
    row-gap: 204px;
  }

  @media (max-width: $br4) {
    align-items: flex-start;
    row-gap: 114px;
  }
}

.scroll-sequence__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.home-5__img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 90vh;
  width: 90vh;
  // object-fit: contain;

  @media (max-width: $br1) {
    max-height: 960px;
  }

  @media (max-width: $br4) {
    max-height: 100%;
  }
}

.home-5__text-wrapper {
  @media (min-width: $br1) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media (max-width: $br1) {
    position: relative;
  }
}

.home-5__text {
  @include suisse-med;
  line-height: 100%;
  font-size: vw(60);
  position: relative;

  @media (min-width: $br1) {
    width: vw(1500);
    height: vw(270);
  }

  @media (max-width: $br1) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 130%;
    font-size: size(32, 20);
  }

  @media (max-width: $br4) {
    font-size: vw(20, $minWidth);
  }
}

.home-5__subtext {
  @media (min-width: $br1) {
    position: absolute;

    &:nth-of-type(1) {
      top: 0;
      left: vw(150);
    }

    &:nth-of-type(2) {
      top: vw(70);
      right: vw(150);
    }

    &:nth-of-type(3) {
      top: vw(135);
      left: 0;
    }

    &:nth-of-type(4) {
      right: 0;
      bottom: 0;
      display: inline-block;
      @include underline;

      &::before {
        transform: scaleX(var(--a-progress));
      }
    }
  }

  @media (max-width: $br1) {
    &:nth-of-type(4) {
      position: relative;
      display: inline-block;
      @include underline;

      &::before {
        transform: scaleX(1);

        @media (max-width: $br1) {
          height: size(2.5, 2);
        }

        @media (max-width: $br4) {
          height: vw(2, $minWidth);
        }
      }
    }
  }
}
