.about-info {
  @include suisse-small;
  display: inline-block;
  color: var(--dark);
}

.about-info__arrow {
  svg {
    display: inline-block;
    width: vw(18);
    height: vw(18);

    @media (max-width: $br1) {
      width: size(18, 11);
      height: size(18, 11);
    }

    @media (max-width: $br4) {
      width: vw(11, $minWidth);
      height: vw(11, $minWidth);
    }
  }
}
