.about-info {
  // @include suisse-med;
  display: inline-block;
  color: var(--dark);
}

.about-info__arrow {
  svg {
    display: inline-block;
    width: 18px;
    height: 18px;

    @media (max-width: $br1) {
      width: 10px;
      height: 10px;
    }
  }
}
