.e-loader {
  background-color: var(--black);
  @include coverdiv(fixed);
  @include mono-med;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.e-loader__container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
}

.e-loader__progress-wrapper {
  background-color: #333;
  position: relative;
  width: 100%;
  height: 1px;
  margin-top: 16px;
}

.e-loader__progress {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0% 0%;
}
.e-loader__content-wrapper {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.e-loader__text {
  font-size: clamp(16px, vw(20), 20px);
}
.e-loader__percent {
  font-size: clamp(16px, vw(20), 20px);
}
