.popup {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  transition: opacity 0.3s ease;
  opacity: 0;
  pointer-events: none;
  z-index: 99;

  &--opened {
    opacity: 1;
    pointer-events: auto;

    .popup__wrapper {
      transform: translateX(0%);
    }
  }
}

.popup-backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
}

.popup__wrapper {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 45%;
  color: var(--white);
  background: linear-gradient(-90deg, #000000 0%, rgba(0, 0, 0, 0) 120%);
  backdrop-filter: blur(12px);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 112px 96px;
  transform: translateX(100%);
  transition: transform 0.3s ease;

  @media (max-width: $br1) {
    width: 65%;
    row-gap: 40px;
    padding: 60px 48px;
  }

  @media (max-width: $br3) {
    width: 85%;
  }

  @media (max-width: $br4) {
    justify-content: center;
    width: 100%;
  }
}

.popup__nav-menu {
  @include suisse-med;
  font-size: 48px;

  @media (max-width: $br1) {
    font-size: 24px;
  }
}

.popup__socials-menu {
  @include suisse-small;
  margin-top: 20px;
  font-size: 20px;

  @media (max-width: $br1) {
    font-size: 12px;
    margin-top: 12px;
  }
}
